<mat-card appearance="outlined" class="example-card">
  <mat-card-header>
    <mat-card-title>Formulario de Mensaje</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="mensajeForm" (ngSubmit)="operar()" class="form-grid">

      <!-- Contenido -->
      <mat-form-field appearance="fill">
        <mat-label>Contenido</mat-label>
        <textarea
          matInput
          formControlName="contenido"
          placeholder="Escribe el mensaje aquí"
        ></textarea>
        <mat-error *ngIf="mensajeForm.controls['contenido'].invalid && mensajeForm.controls['contenido'].touched">
          Contenido requerido
        </mat-error>
      </mat-form-field>

      <!-- Cliente -->
      <mat-form-field appearance="fill">
        <mat-label>Cliente</mat-label>
        <mat-select formControlName="cliente">
          <mat-option *ngFor="let c of clientes" [value]="c">
            {{ c.nombre }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="mensajeForm.controls['cliente'].invalid && mensajeForm.controls['cliente'].touched">
          Cliente requerido
        </mat-error>
      </mat-form-field>

      <!-- Leído -->
      <mat-form-field appearance="fill">
        <mat-label>¿Leído?</mat-label>
        <mat-select formControlName="leido">
          <mat-option [value]="true">Sí</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
        <mat-error *ngIf="mensajeForm.controls['leido'].invalid && mensajeForm.controls['leido'].touched">
          Estado requerido
        </mat-error>
      </mat-form-field>

      <!-- Fecha de Envío -->
      <mat-form-field appearance="fill">
        <mat-label>Fecha de envío</mat-label>
        <input matInput type="datetime-local" formControlName="fechaEnvio" />
        <mat-error *ngIf="mensajeForm.controls['fechaEnvio'].invalid && mensajeForm.controls['fechaEnvio'].touched">
          Fecha requerida
        </mat-error>
      </mat-form-field>

      <!-- Botones -->
      <br />
      <div class="example-button-row">
        <button mat-flat-button color="primary" type="submit">Guardar</button>
        <button mat-stroked-button color="warn" type="button" routerLink="/pages/mensaje">
          Cancelar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
