<div class="example-container">
  <mat-toolbar class="example-toolbar">
    <button
      class="myButton no-border"
      mat-icon-button
      (click)="sidenav.toggle()"
    >
      @if (!sidenav.opened) {
      <mat-icon>menu</mat-icon>
      }@else {
      <mat-icon>close</mat-icon>
      }
    </button>
    <span>Agrario</span>
    <span class="example-spacer"></span>
    <span class="example-spacer"> </span>

    <button class="no-border" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_box</mat-icon>
        <span>My account</span>
      </button>
      <button mat-menu-item (click)="sidenav.opened = false" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav style="width: 250px" mode="over">
      <img src="agrario.jpg" width="128" style="margin-left: 20px" />

      <mat-divider></mat-divider>

      <button
        class="myButton"
        mat-menu-item
        (click)="sidenav.toggle()"
        routerLink="/pages/cliente"
        [routerLinkActive]="['active']"
        style="cursor: pointer"
      >
        <mat-icon>person</mat-icon>
        <span>Cliente</span>
      </button>
      <button
        class="myButton"
        mat-menu-item
        (click)="sidenav.toggle()"
        routerLink="/pages/asignacion"
        [routerLinkActive]="['active']"
        style="cursor: pointer"
      >
        <mat-icon>person</mat-icon>
        <span>asignacion</span>
      </button>
      <button
        class="myButton"
        mat-menu-item
        (click)="sidenav.toggle()"
        routerLink="/pages/mensaje"
        [routerLinkActive]="['active']"
        style="cursor: pointer"
      >
        <mat-icon>person</mat-icon>
        <span>Mensaje</span>
      </button>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
